@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, rgb(92, 144, 167), rgb(201, 216, 223));
  font-family: 'Dancing Script', sans-serif;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}

main {
  width: fit-content;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modify-game {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  position: relative;
  width: 320px;
}

.current-marker {
  background: rgba(222, 184, 135, 0.753);
  padding: 5px 10px;
  font-size: 1rem;
  color: black;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.7);
  width: 70px;
}

.available-icons {
  position: absolute;
  left: -130px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  padding: 10px 5px;
  background: rgba(222, 184, 135, 0.753);
  border-radius: 5px;
}

.reveal-available-icons {
  display: flex;
  animation: grow 0.2s ease-in;
}

@keyframes grow {
  from {
    transform: scale(0);
    left: -50px;
  }
  to {
    transform: scale(1);
    left: -130px;
  }
}

@keyframes shrink {
  from {
    transform: scale(1);
    left: -130px;
  }
  to {
    transform: scale(0);
    left: -50px;
  }
}

.reset {
  width: 70px;
}

.icon {
  background: #4d6180;
  border: none;
  font-size: 1.3rem;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.582);
}

.icon:hover {
  cursor: pointer;
  background: #61789b;
}

.change-opponent {
  background: #4d6180;
  color: white;
  border: none;
  font-size: 0.9rem;
  letter-spacing: 1px;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.7);
}

.change-opponent:hover {
  cursor: pointer;
  background: #4d6180d0;
}

.reset {
  padding: 5px 10px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  background-color: rgba(222, 184, 135, 0.753);
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.7);
}

.reset:hover,
.current-marker:hover {
  cursor: pointer;
  background: rgba(222, 184, 135, 0.952);
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 95px);
  grid-template-rows: repeat(3, 95px);
  justify-items: center;
  align-items: center;
}

.square {
  width: 80px;
  height: 80px;
  background: #4d6180;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  font-weight: 700;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
  position: relative;
}

.square:not(.marked):hover {
  background: #4d61808c;
  cursor: pointer;
}

.growSquare {
  animation: grow-and-contract 0.6s linear;
}

@keyframes grow-and-contract {
  0% {
    width: 80px;
    height: 80px;
  }
  50% {
    width: 95px;
    height: 95px;
  }
  100% {
    width: 80px;
    height: 80px;
  }
}

.choose-opponent-page {
  position: absolute;
  top: 0;
  background: linear-gradient(to right, rgb(92, 144, 167), rgb(201, 216, 223));
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes close-shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.choose-opponent-page h1 {
  margin: 0;
}

.choose-opponent-page h2 {
  margin-top: 60px;
  margin-bottom: 45px;
}

.opponents-btn > * {
  background: #4d6180;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
  font-size: 15px;
  font-family: 'Robot', sans-serif;
}

.opponents-btn > *:hover {
  cursor: pointer;
  background: #4d61808c;
}

.opponents-btn > button:first-child {
  margin-right: 20px;
}